<nav class="nav">
  <div class="">
    <LinkTo @route="products" class="cursor-pointer">
      <img src={{'/assets/specialfx.png'}} alt="specialfx logo" class="logo" />
    </LinkTo>
  </div>
  <div class="p-2 rounded-lg shadow-md bg-gray50">
    <LinkTo @route="cart" class="cursor-pointer">
      <SvgIcon @name="cart" @width="24" @height="24" />
    </LinkTo>
  </div>
</nav>
<div class="container-wrapper">
  {{yield}}
</div>