<div class="relative">
  <img
    src={{@src.src}}
    alt={{concat @src.src 'Image'}}
    class="{{if @isOnCart 'cart-image' 'product-image'}}"
  />
  {{#unless @isOnCart}}
    <div class="absolute right-4 top-4">
      <button
        data-test-discount-info
        type="button"
        class="font-normal rounded-lg button bg-teal100 text-teal900"
      >
        {{@src.discount}}
      </button>
    </div>
  {{/unless}}
</div>