{{page-title 'KshopApp'}}
<nav class="nav">
  <div class="">
    <LinkTo @route="index" class="cursor-pointer">
      <img src={{'/assets/specialfx.png'}} alt="specialfx logo" class="logo" />
    </LinkTo>
  </div>
  <div class="">
    <LinkTo @route="cart" class="cursor-pointer">
      <SvgIcon @name="cart" @width="24" @height="24" />
    </LinkTo>
  </div>
</nav>
{{outlet}}