<GeneralContainer>
  <BreadCrumbs
    @pageTitle="Groceries"
    @pageSubtitle="Special FX offers only the finest organic produce."
    @breadCrumbs={{array 'Groceries' 'Wine' 'Clothes' 'FX'}}
  />
  <div class="flex flex-col justify-between lg:flex-row gap-14">
    {{#each this.model as |product|}}
      <Product @product={{product}} />
    {{/each}}
  </div>
</GeneralContainer>